<ion-header>
    <ion-navbar color="primary_light">
        <ion-buttons start>
            <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        </ion-buttons>
        <ion-title>announce</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list class="animated bounceInUp accordion" *ngFor="let d of announceList | async;" (click)="togggleDetails(d)" no-lines>
        <ion-list-header>
            <ion-icon color="primary" item-right [name]="d.icon"></ion-icon>
            <h2 text-uppercase>{{d[0]}}</h2>
        </ion-list-header>
        <ion-item-sliding>
            <ion-item text-wrap>
                <p *ngIf="d.showDetails" text-lowercase>{{d[1]}}</p>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="danger" icon-only (click)="removeAnnouncement(d.$key)">
                  <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab bottom left egde>
        <button ion-fab mini *ngIf="canCreate; else fab_template" class="animated bounceInRight" (click)="createAnnouncement()" color="primary_dark">
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-fab>
    <ng-template #fab_template>
        <div></div>
    </ng-template>

</ion-content>