page-announce {
    .alertBtn {
        padding: 15px;
        background-color: #fff333;
    }
    // .item h2 {
    //     color: #488aff;
    //     font-size: 1.5em;
    //     padding-top: 20px;
    // }
    .item h2 {
        color: #212121;
        padding: 30px;
        padding-bottom: 10px;
        font-size: 1.6em;
        text-align: center;
        font-weight: semi-bold;
        color: #003859;
        letter-spacing: 2px;
    }
    .button {
        height: 30px;
        width: 40px;
    }
    .item p {
        padding-bottom: 40px;
        color: #424242;
        text-align: left;
        letter-spacing: 1.5px;
    }
    .list-header-md {
        padding-left: 0;
        margin-bottom: 0;
    }
    .label-md {
        margin: 0;
    }
    .ion-label {
        margin: 0;
    }
    // ion-list {
    //     ion-item {
    //         background-color: transparent;
    //         padding-left: 0;
    //         position: relative;
    //     }
    //     ion-label {
    //         div {
    //             text-transform: none;
    //             font-size: 0.8em;
    //             padding: 1em 0;
    //             white-space: normal;
    //             text-align: justify;
    //         }
    //     }
    //     ion-icon {
    //         font-size: 1.8rem;
    //         padding: 0;
    //         text-align: center;
    //         position: absolute;
    //         right: 10px;
    //         top: 3px;
    //         &:before {
    //             font-weight: bold;
    //         }
    //     }
    //}
}