<ion-header>
    <ion-navbar color="primary_light">
        <ion-buttons start>
            <button (click)="closeModal()" ion-button icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>visitors</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-list class="mainContent">
        <ion-item>
            <ion-label>Person visiting</ion-label>
            <ion-select [(ngModel)]="employees" (ionChange)="visitorList()">
                <ion-option *ngFor="let employee of person_visiting">{{employee}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Purpose of visit</ion-label>
            <ion-select [(ngModel)]="purpose" (ionChange)="visitorList()">
                <ion-option *ngFor="let purpose of visit_purpose">{{purpose}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <!-- <ion-label fixed>Name</ion-label> -->
            <ion-input type="text" [(ngModel)]="v_name" placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
            <!-- <ion-label fixed>Company</ion-label> -->
            <ion-input type="text" [(ngModel)]="v_company" placeholder="Company"></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea [(ngModel)]="v_comment" placeholder="Comment..." row="10" col="100"></ion-textarea>
        </ion-item>
        <ion-item>
            <button ion-button block (click)="saveVisitor()" class="completeBtn">Complete</button>
        </ion-item>
    </ion-list>

</ion-content>