page-send-request {
    .button {
        font-size: 1.5rem;
        color: #fff;
        background-color: #00B8EC;
        margin: 0rem 0rem;
        padding: 1.3em 1em;
        border-radius: 16px;
    }
    .item-md .item-button {
        padding: 0 0.6em;
        height: 35px;
        font-size: 1.2rem;
    }
    .request_type {
        text-align: center;
        color: #00B8EC;
        font-weight: bold;
        font-size: 20px;
    }
    .textarea {
        border: 1px solid #00B8EC;
        max-width: 100%;
        width: 100%;
        //height: 30vh;
    }
    // .req_field{
    //     border-radius: 10px;
    //     border: 1px solid #00B8EC;
    //     border-bottom-color: #00B8EC;
    // }
}