page-list {
    .card-header {
        font-size: 1.8rem;
        font-weight: 400;
        color: #333;
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
        font-family: Lato;
    }
    .list {
        margin: 0;
    }
    .icon_more {
        font-size: 1.6em;
        float: right;
        color: #00B8EC;
    }
    .list-options {
        padding: 10px 0px;
        text-align: center;
        font-size: 1.4em;
        color: #212121;
    }
}