    .card-header {
        font-size: 1.8rem;
        font-weight: 400;
        color: #333;
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
    }
    
    .list {
        margin: 0;
    }
    
    .it {
        background-color: cyan;
    }
    
    .sales {
        background-color: blue;
    }
    
    .icon_more {
        //display: inline-block;
        font-size: 1.6em;
        float: right;
        color: #00B8EC;
    }
    
    .list-options {
        padding: 20px 0px;
        text-align: center;
        font-size: 1.4em;
        color: #212121;
    }