page-suggsest-list {
    .header_request {
        color: #0D47A1;
        font-weight: bold;
    }
    .card-header {
        font-size: 1.8rem;
        font-weight: bold;
        color: #fff;
        letter-spacing: 1px;
        padding-bottom: 0;
        text-align: center;
        //background-color: #00b8ec;
    }
    .card-content {
        padding: 10px;
        font-size: 1.4rem;
        line-height: 1.5;
        text-align: center;
        //background-color: #06c0f5;
    }
}