page-suggestion {
    .textarea {
        max-width: 100%;
        width: 100%;
        //height: 30vh;
        border: 1px solid #00B8EC;
    }
    .make_sugg {
        margin-top: 5px;
        padding: 15px 20px;
        background-color: #00B8EC;
        height: 35px;
        width: 100%;
    }
    .item .item-button {
        padding: 0 0.6em;
        height: 35px;
        font-size: 1.4rem;
    }
    .label {
        margin-right: 0;
    }
    .user {
        //text-transform: uppercase;
        font-size: 1.4em;
        color: #9E9E9E;
        text-align: center;
    }
}