page-requests {
    .req_owner{
        text-align: left;
        font-weight: bold;
        font-size: 1em;
        color: #2196F3;
    }
    .hr {
        background-color: #2196F3;
    }
    .header_comment, .header_request{
        color: #0D47A1;
    }
    .owner_comment{
        font-family: serif;   
    }
}
