page-visitors-list {
    .visit_list {
        //text-align: center;
        background-color: #fff;
        padding-bottom: 20px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    //span,
    p {
        font-size: 1em;
        color: #212;
        padding-bottom: 20px;
        word-spacing: 2px;
    }
    .visiting {
        margin: 8px 8px 25px 8px;
    }
    .label {
        //margin: 10px 0 0 0;
    }
    .vis_name {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .list-header {
        padding-left: 15px;
        margin-bottom: 0;
        font-size: 1.2em;
        color: #fff;
        background-color: #00b8ec;
    }
}